<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>
<div style="text-align: center">
  <img src="img/111.png" id="header_image" alt="Laptop" width="473" height="316" />
  <p id="tagLine"></p>
</div>
<div class="pt-3">
  <p class="header" id="header">

  </p>
  <div style="text-align: center">
    <img src="img/we.jpg" id="image" alt="Laptop" width="400" height="250" />
    <p class="description" id="description">

    </p>
  </div>
</div>
<script>
  let header = document.getElementById('header')
  let description = document.getElementById('description')
  let tagLine = document.getElementById('tagLine')
  let header_image = document.getElementById('header_image')
  let image = document.getElementById('image')



  async function getData() {
    var url = '/api/about/'
    var response = await fetch(url, {
      method: 'get'
    })
    var responseJson = await response.json()
    console.log(responseJson)
    if (response.ok) {
      header.innerHTML = responseJson.header
      description.innerHTML = responseJson.description
      tagLine.innerHTML = responseJson.tagLine
      header_image.src = "/img/" + responseJson.banner;
      image.src = "/img/" + responseJson.image;

    } else {
      header.innerHTML = "harap atur data"
      description.innerHTML = "harap atur data"
    }
  }
  getData();
</script>