<div class="container-fluid">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- Jika ada toolbar button, bisa ditambahkan di sini -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title" id="customer">Total Customers</h5>
          <h1 class="card-text display-4" id="totalCustomers"></h1>
          <p class="card-text">View all customers.</p>
          <a href="/customers" class="btn btn-secondary btn-block">Manage Customers</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title" id="categories">Total Categories</h5>
          <h1 class="card-text display-4" id="totalCategories"></h1>
          <p class="card-text">View all categories.</p>
          <a href="/categories" class="btn btn-secondary btn-block">Manage Categories</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title" id="assets">Total Assets</h5>
          <h1 class="card-text display-4" id="totalAssets"></h1>
          <p class="card-text">View all assets.</p>
          <a href="/assets" class="btn btn-secondary btn-block">Manage Assets</a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  let token = sessionStorage.getItem('token')
  async function getTotalData(){
    var res = await fetch("/api/customers/data/count"  , {
      method : "GET",
      headers :{
        Authorization : `Bearer ${token}`
      }
    })
    var response = await res.json();

    if(res.ok){
      document.getElementById('customer').textContent = "Total Customer :" + response.customer
      document.getElementById('assets').textContent = "Total Asset : " + response.asset
      document.getElementById('categories').textContent = "Total category :" + response.category

    }else{
      alert(response.message)      
      window.location = "/auth"
    }
  }
  getTotalData()
</script>
